:root {
  /* Key colors */
  --color-1: #343a40;
  --color-2: #e3ed35;
  --color-3: #2fc7dc;
  --color-4: rgb(235, 235, 235);
  /* Text Sizes */
  --title-size: 34 px;
  --button-size: 20 px;
  --text-size: 16 px;
  /* margins buttons*/
  --margin-button: 10px;
}
body{
  background-color: var(--color-1);
}
main{
  padding: 0 30px;
}
.title1 {
  color: var(--color-2);
  font-size: large;
  font-weight: 600;
}
.title2 {
  color: var(--color-3);
  font-size: large;
  font-weight: 600;
}